# Bot tokenini Telegram BotFather'dan olib quyiga kiriting:
BOT_TOKEN=

# Admin telefon raqami (+998XXXXXXXXX ko'rinishida)
ADMIN_PHONE=

# Admin Telegram ID lar (vergul bilan bir nechtasini yozish mumkin): 12345678,98765432
ADMIN_IDS=

# Saqlash (Storage) kanali username yoki ID: @baza_kanal yoki -100123456789
STORAGE_CHANNEL_ID=

# Bazalar va fayllar yo'li
DB_PATH=data/database.sqlite
VOICES_DIR=data/voices
